[submodule "ext/maker"]
	path = ext/maker
	url = /afs/ece.cmu.edu/project/abstract/repos/maker
[submodule "ext/libmsp"]
	path = ext/libmsp
	url = /afs/ece.cmu.edu/project/abstract/repos/libmsp
[submodule "ext/libio"]
	path = ext/libio
	url = /afs/ece.cmu.edu/project/abstract/repos/libio
[submodule "ext/libcapybara"]
	path = ext/libcapybara
	url = git@github.com:CMUAbstract/libcapybara
[submodule "ext/libmspuartlink"]
	path = ext/libmspuartlink
	url = git@github.com:CMUAbstract/libmspuartlink
